.all-movies{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}
.fav-logo{
    background-color: black;
    color: white;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: larger;
    margin-bottom: 0;
}